body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #82ddff;
}

section, header, footer {
    padding: 8px;
}

#cover {
    height: calc(100vh - 52px);
    background: url("cover.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#coverAfter {
    height: 190px;
    background: url("coverAfter.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#coverCard {
    background-color: #00b0f0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 360px;
    height: 130px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    bottom: 30px;
    left: 20px;
}

#navigationLogo {
    height: 50px;
    margin: -10px;
    margin-bottom: -15.5px;
    margin-right: 10px;
    padding: 10px;
    background-color: #2f4a81;
}

.navigationItem {
    font-size: 30px;
    position: relative;
    top: -10px;
}

.navigationLink {
    padding-left: 20px;
}

.navigationLinker {
    color: black;
    text-decoration: none;
}

.navigationLinker:hover {
    position: relative;
    left: 5px;
    color: white;
    background-color: #2f4a81;
    padding: 5px 5px 5px 5px;
    margin-left: -10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#navigationUser:hover {
    background-color: #29bf12;
}

.rightAlign {
    float: right;
    margin: 10px;
}

.rightAlignHelper {
    top: -5px;
}

header {
    background-color: #00b0f0;
    height: 52px;
}

footer {
    background-color: #2f4a81;
    color: white;
    font-size: 20px;
}

.footerSocial {
    color: white;
    font-size: 50px;
}

.footerSocial:hover {
    color: #00b0f0;
}

/* Mobile optimisation for layout elements */

.showDesktop {
    display: unset;
}

.showMobile {
    display: none;
}

@media (max-width: 700px) {    
    .showDesktop {
        display: none;
    }

    .showMobile {
        display: unset;
    }

    .navigationLinker:hover {
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
    }
}

@media (max-width: 420px) {
    #coverCard {
        width: calc(100vw - 60px);
    }
}