body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-color: #82ddff;
}

.navigationSection {
    padding: 8px;
}

header {
    background-color: #00b0f0;
    max-height: 350px;
    font-size: 30px;
}